---
- name: deploy additional apache configuration
  copy:
    dest: "/etc/apache2/conf-available/{{ item }}.conf"
    src: "files/etc/apache2/conf-available/{{ item }}.conf"
  loop: apache_conf_enabled
  loop_control:
    loop_var: item
  notify: reload_apache2

- name: apache enable conf
  include: "50-apache-a2enconf.yml"
  loop: apache_conf_enabled
  loop_control:
    loop_var: item

